html, * {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1199ee;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  color: #1199ee;
}

.Container {
  max-width: 1024px;
  margin: 0 auto
}

.Main-heading {
  font-size: 2rem;
  color: #ffffff;
  margin: 1rem 0;
}

.Main__content {
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .Main-heading {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .Main__content {
    padding: 2rem 0;
  }
}