.Header {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.Header .Container{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.Header__logo-copy {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .Header .Container{
    padding: 1rem 0;
  }

  .Header__toggle-menu-button {
    display: none;
  }
}