.Menu {
  align-items: flex-end;
  background-color: #ffffff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  left: 0;
  list-style: none;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  top: 50px;
  transition: all 0.2s;
  width: 100%;
}

.Menu.Opened {
  opacity: 1;
  top: 60px;
  transition: all 0.2;
}

.Menu__item {
  font-weight: bold;
  margin: 1rem 0;
}

.active {
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .Menu {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    opacity: 1;
    padding: 0;
    position: unset;
    width: auto;
  }

  .Menu__item {
    font-weight: bold;
    margin: 0 1rem;
  }
}